<?xml version='1.0' encoding='utf-8'?>
<widget id="gg.destiny.app.chat" version="0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Destiny Chat</name>
    <description>
        Chat app for Destiny.gg
    </description>

    <access origin="http://127.0.0.1*" />
    <access origin="*://*.destiny.gg/*" subdomains="true" />
    <!-- <access origin="10.0.3.2:*" />
    <access origin="*" /> -->

    <content src="http://www.destiny.gg/embed/chat" />

    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
</widget>
